<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de cliente</title>
</head>
<body>
	<div>
	<h1>Cadastrar novo cliente</h1>
	<% if(validacao) { %>
			<ul>
				<% for (var i = 0; i < validacao.length; i++) { %>
					<li><%= validacao[i].msg  %></li>
				<% } %>
			</ul>
		<% } %>
		<form action="/cliente/cadastrar" method="post">
			<div class="">
				<label for="nome">Nome</label>
				<input type="text" name="nome" value="<%= cliente.nome%>">
			</div>
			<div class="">
				<label for="sobrenome">Sobrenome</label>
				<input type="text" name="sobrenome" value="<%= cliente.sobrenome%>">
			</div>
			<div>
				<label>Data</label>
				<input type="date" name="data_nasc">
			</div>
			<div class="">
				<label for="cep">Cep</label>
				<input type="text" name="cep" value="<%= cliente.cep%>">
			</div>
			<div class="">
				<label for="endereco">Endereço</label>
				<input type="text" name="endereco" value="<%= cliente.endereco%>">
			</div>
			<div class="">
				<label for="cpf">CPF</label>
				<input type="text" name="cpf" value="<%= cliente.cpf%>">
			</div>
			<div>
				<input type="submit" value="Cadastra">
			</div>
		</form>	
	</div>
</body>
</html>	
